services:
  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    container_name: qdrant
    ports:
      - "6333:6333"  # HTTP API
      - "6334:6334"  # gRPC API
    volumes:
      - ./qdrant_storage:/qdrant/storage
      - ./config.yaml:/qdrant/config/production.yaml
    command: ./qdrant --config-path /qdrant/config/production.yaml

volumes:
  qdrant_storage: